<!DOCTYPE html>
<html>
<head>
  <title>Statsd3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>

    body {
      font: 12px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

  </style>
</head>
<body>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= yield %>

</body>
</html>
